.btn{
    font-size: 18px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 2px $c-red;
    border-radius: 4px;

    margin-left: 36px;

    background-color: $c-red;

    font-family: 'Be Vietnam Pro', sans-serif;
    color: $c-bg;
    text-decoration: none;
    width: fit-content;
}

.btn:hover{
    background-color: $c-bg;
    color: $c-red;
}

.orange{
    margin-bottom: 40px;
}

@media (min-width: 769px){
    .grid .btn{
        margin-left: 0;
    }
}