.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__el{
    display: flex;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 20px;

     svg{
         fill: $c-red;
    }

    p{
        margin: 0;
        margin-left: 20px;
    }
}

.listdev{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

.listdev__el{
    font-size: 24px;
    line-height: 33.6px;
    color: $c-red;
}

.accordeon{
    grid-column: 1/4;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tableau{
    grid-column: 1/4;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ques{
    color: $c-orange;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
}

.tableau__el:first-child{
    margin-top: 20px;
}

.rep{
    font-size: 14px;
    font-weight: 300;
    line-height: 19.6px;
    margin-bottom: 40px;
}
.margin__nonebot{
    margin-bottom: 0;
}

.info{
    grid-column: 1/4;
    margin: 0;
    padding: 0;
    list-style: inside;
}

.bloc{
    margin: 0;
    padding: 0;
    list-style: none; 
    margin-top: 60px;
}

.bloc__el{
    background-color: $c-orange;
    margin-bottom: 80px;
    color: $c-bg;

    h3{
        margin-top: 20px;
    }
}

.tab{
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab__el{
    background-color: $c-mauve;
    color: $c-bg;
    margin-bottom: 40px;

    p{
        font-size: 14px;
        line-height: 19.6px;
    }
}


