@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: $size-text;
  line-height: 28px;
  color: $c-text;
}

.title {
  color: $c-bg;
  font-family: 'Zilla Slab', serif;
  font-size: 48px;
  margin-top: 20px;
  font-weight: 400;
}

.title--ps{
  color: $c-red;
  font-size: 36px;
  line-height: 50.4px;
  margin-top: 40px;
}

.title--sous{
  color: $c-text;
  font-size: 28px;
  line-height: 39.2px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}

.title--ssps{
  font-size: 32px;
  line-height: 44.8px;
  color: $c-text;
}

.title--sssps{
  font-size: 28px;
  line-height: 39.2px;
  color: $c-text;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title--ssssps{
  font-size: 24px;
  line-height: 33.6px;
  color: $c-text;
  margin-top: 0;
  margin-bottom: 20px;
}

.title--sstab{
  font-size: 20px;
  line-height: 28px;
}

.red{
  color: $c-red;
}

.white{
  color: $c-bg;
}

.citation{
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
  color: $c-bg;
}

.figc{
  font-size: 24px;
  line-height: 38px;
  color: $c-bg;
  margin-bottom: 30px;
}

.lien{
  color: $c-red;
  font-weight: bold;
}

p{
  margin: 0;

  margin-bottom: 20px;
}

.gdp{
  font-size: 24px;
  font-weight: 700;
  line-height: 32.2px;
  margin-bottom: 20px;
}

.pgd{
  font-size: 24px;
  line-height: 32.2px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.ptp{
  font-size: 14px;
  line-height: 25.2px;
  margin-bottom: 20px;
}

.figc__img{
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  line-height: 19.6px;

  margin-left: 36px;
  margin-top: 10px;
}

.bold{
  font-weight: 800;
}

.visible{
  display: block;
}

.invisible{
  display: none;
}

@media (min-width: 769px) {
  .one .grid{
    position: absolute;
    display: block;
    background: #010101;
    width: 50%;
    padding-left: 36px;
    padding-right: 36px;
    height: 100%;
    margin-left: 0;
  }

  .visible{
    display: none;
  }

  .invisible{
    display: block;
  }

  p{
    font-size: 16px;
    line-height: 25.2px;
  }

  .pgd{
    font-size: 30px;
    line-height: 42px;
  }

  .ptp{
    font-size: 14px;
    line-height: 19.6px;
  }

  .title--sous{
    font-size: 50px;
    line-height: 70px;
  }

  .sec:nth-child(2), .sec:nth-child(5){

    .grid{
      margin-top: 0;
    }
    .title--sous{
      margin-top: 0;
    }
  }

  .sec:nth-child(5){
    .grid{
      .grid{
        margin-left: 0;
      }
    }
  }
}
