@import 'utils/variables';
@import 'components/type';
@import 'utils/slider';
@import 'utils/header';

img{
    width: 360px;
}

svg{
    width: 20px;
}

body{
    margin: 0;
}

ul{
    margin: 0;
    
}