@import 'utils/variables';
@import 'components/type';
@import 'utils/slider';
@import 'utils/header';
@import 'utils/grille';
@import 'utils/fond';
@import 'components/img';
@import 'utils/margin';
@import 'components/list';
@import 'utils/footer';
@import 'components/btn';
@import 'utils/accordeon';


body{
    margin: 0;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin: 0;

}