.accordeon__el{
    border-top: solid 1px $c-mauve;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordeon__el:last-child{
    border-bottom: solid 1px $c-mauve;
}

.accordeon__el summary{
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 700;

    grid-column: 1/4;
}

.accordeon__el p{
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 300;
}

.summlist{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .summlist__el{
        font-weight: 700;
        margin: 0;
        font-size: 16px;
        line-height: 22.4px;
        width: 26ch;
    }

    .btnsumm{
        width: 30px;
    }
}

details{
    cursor: pointer;
}

details[open] svg{
    transform: rotate(45deg);
    transition: .5s ease-in-out;
}

details p{
    transform: scaleY(0);
    transition: all .5s ease-in;
    transform-origin: top center;
}

details[open] p{
    transform: scaleY(1);
    transition: all .5s ease-in;
}

details svg{
    transition: .5s ease-in-out;
}

@media (min-width:1200px) {
    .accordeon__el .grid{
        margin-left: 0;
        margin-right: 0;

        p{
            width: 70ch;
            display: block;
            margin-left: 385px;
        }
    }

    .summlist{
        display: grid;
        grid-template-columns: repeat(9, 100px);
        column-gap: 38px;
        margin-left: 38px;
        margin-right: 38px;
        justify-content: center;

        .summlist__el{
            font-weight: 700;
            margin: 0;
            width: 100%;
        }
    
        .summlist__el:first-child{
            grid-column: 2/7;
        }
    
        .btnsumm{
            grid-column: 8/9;
            display: block;
            margin-left: auto;
            width: 40px;
        }
    }
}
