.flex{
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: 76px 76px 76px;
    column-gap: 30px;
    margin-left: 36px;
    margin-right: 36px;
}

.title{
    grid-column: 1/4;
}

.title--sous{
    grid-column: 1/4;
}

.fig{
    grid-column: 1/4;
    margin: 0;
}

p{
    grid-column: 1/4;
}

.list{
    grid-column: 1/4;
}

.listdev{
    grid-column: 1/4;
}

.tr .grid:last-child{
    display: block;
    margin-left: 0;
}

@media (min-width : 481px) {
    .grid{
        grid-template-columns: 76px 76px 76px 76px;
    }

    .title{
        grid-column: 1/5;
    }

    .title--sous{
        grid-column: 1/5;
    }

    .fig{
        grid-column: 1/5;
        margin: 0;
    }

    p{
        grid-column: 1/5;
    }

    .list{
        grid-column: 1/5;
    }

    .listdev{
        grid-column: 1/5;
    }
}

@media (min-width : 769px) {
    .flex{
        display: flex;

        .grid{
            display: block;
        }

        .grid:first-child{
            margin-top: 40px;
        }
    }

    .row{
        flex-direction: row-reverse;
    }

    .grid{
        grid-template-columns: repeat(7, 1fr);
    }

    .title--sous{
        grid-column: 2/7;
    }

    p{
        grid-column: 2/7;
    }

    .btn{
        grid-column: 2/5;
    }

    .flex{
        .grid{
            margin-top: 0;
        }
    }

    .flex--mod{
        .grid{
            display: block;
            width: 70ch;
        }

        .fig__img{
            img{
                width: 100%;
            }
        }
    }

    .sec:nth-child(2) .flex, .sec:nth-child(5) .flex{
        flex-direction: row-reverse;
        align-items: center;

        .grid{
            margin-top: 0;
        }

        img{
            width: 100%;
        }
    }

    .tr .grid:last-child{
        display: grid;
        margin-left: 36px;
    }

    .sec:nth-child(4) .flex .grid{
        margin-top: 0;
        margin-right: 0;
    }

    .title--ps{
        grid-column: 2/7;
      }

    .title--ssps{
        grid-column: 2/7;
    }

    .title--sssps{
        grid-column: 2/7;
    }

    .p--grid{
        grid-column: 2/6;
        grid-row: 2;
    }

    .title--ssssps{
        grid-column: 2/7;
    }

}

@media (min-width: 1200px) {
    .flex{
        display: grid;
        grid-template-columns: repeat(9, 100px);
        gap: 38px;
        margin-left: 38px;
        margin-right: 38px;
    }

    .one .flex{
        display: flex;
        margin: 0;
    }

    .dx .flex, .cq .flex{
        .grid{
            grid-column: 6/10;
        }

        .fig__img{
            grid-column: 1/6;
            grid-row: 1;
        }
    }

    .tr{
        .grid{
            display: grid;
            grid-template-columns: repeat(9, 100px);
            gap: 38px;
            margin-left: 38px;
            margin-right: 38px;
        }

        .title--sous{
            grid-column: 3/8;
        }

        p{
            grid-column: 3/8;
        }

        .btn{
            grid-column: 3/6;
        }
    }

    .qu .flex{
        .grid{
            grid-column: 2/6;
        }

        .list{
            grid-column: 6/9;
        }

        .btn{
            grid-column: 2/5;
        }
    }

    .flex{
        .six{
            grid-column: 1/5;
        }

        .se{
            grid-column: 6/10;
        }
    }
}