.hd{
    height: 103px;
    background-color: $c-bg;

    .logo{
        width: 200px;
    }
}

.hd--open{
    height: 100vh;
}

.burgermenu{
    padding: 0;
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    padding-top: 40px;
    display: grid;

    .line{
        width: 40px;
        margin-bottom: 4px;
    }
    
    .line:last-child{
        margin-bottom: 0px;
    }
    
    .line__open{
        position: absolute;
        rotate: 45deg;
    }
    
    .line__open--md{
        rotate: -45deg;
    }
    
    .line__none{
        display: none;
    }
}

.burger__el:first-child{
    position: absolute;
    top: 4px;
}

.menu{
    display: none;
    margin-top: 40px;
}

.menu--open{
    display: block;
    background-color: $c-bg;
}

.menu__list{
    list-style: none;
    padding: 0;

    .menu__el{
        text-align: center;
        margin-bottom: 40px;
    }
    
    .menu__el:last-child{
        margin-bottom: 0;
    }
}

.menu__lien{
    color: $c-black;
    text-decoration: none;
}

.menu__lien--actif{
    color: $c-red;
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 1200px){

    .burgermenu{
        display: none;
    }
    

    .menu{
        display: block;
        margin: 0;
    }

    .menu__list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .menu__el{
            margin-bottom: 0;
            padding-top: 38px;
            margin-right: 38px;
    
            a:hover{
                color: $c-red;
            }
        }
    }   
}