.sec{
    margin-top: 80px;
}

.margin__none{
    margin-top: 0;
}

.margin__sous{
  margin-top: 40px;
}

.margin__bot{
    margin-bottom: 40px;
}

@media (min-width: 769px){
    .one{
        position: relative;
        display: flex;
    }
}



