.slider{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slider__el{
    display: table-column;
    transform: translateX(50px);
    transition: all 1s ease-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 0;
}

.slider__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider__content{
    background-color: $c-bg;
}

.slider__img{
    align-self: center;
    max-width: 100%;
}

/*Controls*/
.slider__control{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__btn--next{
    grid-row: 3;
}

.slider__btn button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #502d85;
    padding: 10px 20px 8px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Anim*/

.slider__content{
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 40px;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.slider__img{

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.slider__el--show{
    display: block;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    width: auto;
}

.slider__el--show .slider__content{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    
}

.slider__el--show .slider__img{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.slider__img{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.imgslider__el{
    width: 50px;
}

.imgslider__el:last-child{
    margin-left: 20px;
    width: 62px;
}

.femme{
    fill: none;
    stroke: $c-mauve;
    stroke-width: 3;
    stroke-miterlimit: 10;

    width: 50px;
    height: 50px;
}

.homme{
    fill: none;
    stroke: $c-mauve;
    stroke-width: 2;
    stroke-miterlimit: 10;

    width: 60px;
    height: 60px;
}

.femme--un{
    fill: $c-mauve;
    fill-opacity: 60%;
}

.femme--tr, .femme--qu, .femme--on, .femme--do, .homme--tr, .homme--qu, .homme--on, .homme--do{
    fill: $c-mauve;
    fill-opacity: 50%;
}

.femme--cq, .homme--cq, .homme--di{
    fill: $c-mauve;
    fill-opacity: 75%;
}

.femme--si, .homme--si{
    fill: $c-mauve;
    fill-opacity: 66%;
}

.femme--se, .femme--hu, .femme--ne, .femme--di, .homme--un, .homme--hu, .homme--ne{
    fill: $c-mauve;
}

.rondlist{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    .rondlist__el{
        margin-right: 5px;
    }
    
    .rondlist__el:last-child{
        margin-right: 0;
    }
}

.rond{
    border: solid 1px #502d85;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    
}

.bgrond .rond{
    background-color: #502d85;
}

.margin__leftnone{
    margin-left: 0;
}

@media (min-width : 769px) {
    .slider__content{
        width: 50ch;
    }
}

@media (min-width: 1200px) {
    .slider__el{
        .grid{
            display: block;
        }
    }
    .slider__content{
        width: 50ch;
        margin-left: auto;
        margin-right: auto;
    }
}