$c-bg: #fffffe;
$c-text: #151414;
$c-black: #010101;
$c-red: #ba1d16;
$c-orange: #ba4b16;
$c-mauve: #502d85;
$c-violet: #84358B;
$c-mauve2: #6d3db5;
$c-mauve3: #3e2267;
$c-red2: #af1b15;
$c-red3: #871510;

$size-text: 20px;
